<br />
<br />
<table class="pure-table pure-table-striped pure-table-horizontal just-added">
  <thead class="event_listings">
    <th>ID</th>
    <th>Name</th>
    <th>Start time</th>
    <th>Venue</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <%= render @events %>
</table>
