<h4>Can't find what you’re looking for?</h4>
<p>Ticketfinders has been finding our clients sold out and hard to get tickets to events all around the World for over 40 years and we encourage you to send us a message if you can’t find what you’re looking for on our site.</p>
<p>So please send us a quick message and we’ll get back to you as soon as we can.</p>
<p><%= link_to 'Contact Us', new_message_path %></p>
