<div class="tickets__top">
  <div class="tickets__search">
    <form action="#" method="post">
      <input type="text" placeholder="Fast search">
      <input type="submit">
    </form>
  </div>
  <div class="tickets__filter">
    <form action="#" method="post">
      <select class="fs">
        <option>All locations</option>
        <option>Location 1</option>
        <option>Location 2</option>
        <option>Location 3</option>
        <option>Location 4</option>
        <option>Location 5</option>
        <option>Location 6</option>
        <option>Location 7</option>
        <option>Location 8</option>
        <option>Location 9</option>
      </select>
    </form>
  </div>
</div>
