<% count ||= 0 %>

<div class="tickets__top">
  <% if count > 4 %>
  <div class="tickets__search">
    <form action="#" method="post">
      <input type="text" placeholder="Fast search">
      <input type="submit">
    </form>
  </div>
  <% end %>
  <div class="tickets__filter">
    <form action="#" method="post">
      <select class="fs">
        <option>All locations</option>
        <%= locations.each do |lc| %><option value="<%= lc[1] %>"><%= lc[0] %></option><% end %>
      </select>
    </form>
  </div>
</div>
