<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h4>Found <%= pluralize @events.count, "Result" %></h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @events.count > 0 %>
    <div class="considered__wrapper">
      <div class="considered__calendar">
        <div class="considered__calendar-wrap">
          <div id="datepicker"></div>
        </div>
      </div>
      <div class="considered considered--ticket">
        <a href="#" class="considered__calendar-toggle"><span>Show Calendar</span></a>
        <%= render partial: 'events/list', locals: { events: @sorted } %>
      </div>
    </div>
  <% else %>
    <%= render 'shared/nothing_found_message' %>
  <% end %>
</div>
