<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h4>Found <%= pluralize @events.count, "Result" %></h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @event_count_before_filtration > 0 %>
    <%= render partial: 'events/list_with_calendar', locals: { events: @sorted } %>
  <% else %>
    <%= render 'shared/nothing_found_message' %>
  <% end %>
</div>
