<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @current_page ? @current_page.title : 'About us' %></h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% if @current_page %><%= raw @current_page.body %><% end %>
  <h4>Testimonials</h4>
  <ul class="bxslider">
    <li>
      <blockquote>
        <p>“Thank you for your help, and for great service. We had a great evening:) Keep up the good work!”</p>
        <footer>Kai U. (Oslo, Norway)</footer>
      </blockquote>
    </li>
    <li>
      <blockquote>
        <p>“Everything went well with your tickets. I'll definitely recommend your site to others for those hard to get European  events. Regards, Carlos”</p>
        <footer>Carlos G. (USA)</footer>
      </blockquote>
    </li>
    <li>
      <blockquote>
        <p>“I just wanted to tell you how pleased I was with your services.  The seats for both events were top notch, as promised, and I can't thank you enough.  Wimbledon especially was magnificent, really the highlight of the entire trip for me.”</p>
        <footer>Kevin B. (San Antonio, TX, USA)</footer>
      </blockquote>
    </li>
    <li>
      <blockquote>
        <p>“I have used Ticketfinders consistently over the years for tickets.<br>
        The team at Ticketfinders always find the best seats at the best prices and they deliver always on time to the best location to ensure a great experience, they have never let me down, there is no match when it comes to Ticketfinders against other agencies, Ticketfinders always come out on top, hence I will continue to use their services and highly recommend them”</p>
        <footer>Simon C (Monaco, Monte-Carlo)</footer>
      </blockquote>
    </li>
  </ul>
</div>

<% content_for :right_before_body_ends do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      controls: false,
      auto: true,
      pager: false,
      reload: true,
      pause: 8000
    });
  });
  </script>
<% end %>
