<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Orders history</h1>
      <p class="page-title__subtitle">Welcome <%= current_user.email %></p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% if @orders.any? %>
    <div class="order-cards">
      <% @orders.each do |order| %>
        <%= render partial: 'orders/order_card', locals: { order: order } %>
      <% end %>
    </div>
  <% else %>
    <p>You have no orders yet.</p>
  <% end %>
</div>
