/*
 * This is a manifest file that'll be compiled into admin/admin.css, which will include all the files
 * listed below.
 *= require pure-min
 *= require grids-responsive-min
 *= require chosen
 *= require_self
 */
 @import "bootstrap";
 @import "summernote-bs4";
body {
  font-family: 'Lato', sans-serif;
}

.holder {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.top-menu {
  font-size: 1.7em;
  background-color: #2D9EE4;
}

.top-menu-link {
  color: #fff;
}

.top-menu-heading {
  text-transform: capitalize;
  color: #fff;
}

.top-menu-link:hover {
  color: #2D9EE4;
}

.l-box {
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
}

.count {
  font-size: 3em;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 100;
}

.medium {
  font-weight: 400;
}

.flash {
  color: #4F8A10;
  background-color: #DFF2BF;
  margin: 10px;
  padding:12px;
  border-radius:.5em;
}

.center {
  text-align: center;
}

#element1 {display:inline-block;margin-right:10px; width:200px;}
#element2 {display:inline-block; margin-right: 50%; width:200px;}

.form-switcher input[type=radio] { display: none; }
.form-switcher .pure-menu-link { border: 1px solid #666; cursor: pointer;}
.form-switcher input:checked + .pure-menu-link {
  border: 1px solid #2d9ee4;
  background: #2d9ee4;
  color: #fff;
}

label.disabled-label { color: #929292; }

.event-table-destroy-all-block {
  margin: 20px 0 -20px;
}
ul#info-blocks, ul#info-tabs{
  padding-left: 0px;
  li{
    list-style: none;
  }
}
.admin-wrapper{
  .col-md-6, .col-sm-1{
    .l-box{
      height: 100%;
    }
    padding: 0;
    min-height: 250px;
  }
}
