<br />
<br />

<table class="pure-table pure-table-striped pure-table-horizontal">
  <thead>
    <th>Event ID</th>
    <th>Event</th>
    <th>Category</th>
    <th>Currency</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <%= render @tickets %>
</table>
