<div style="text-align: center;"><strong><span style="font-size:18px;">Hello, <%= @user.display_name %></span></strong></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">Thank you for creating an account&nbsp;with&nbsp;Ticketfinders International.</span></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><font color="#696969">Please remember to keep your user login details safe.</font></div>
