<div style="text-align: center;"><strong><span style="font-size:18px;">Hello, <%= @enquiry.name %></span></strong></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">Thank you for making an enquiry&nbsp;with&nbsp;Ticketfinders International.</span></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><font color="#696969">We have received your message and will reply within the next 24&nbsp;hours.</font></div>
