<div style="text-align: center;"><strong><span style="font-size:18px;">Hello, Boss</span></strong></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">You have hospitality & Concierge services request from <%= @client_email %>.</span></span></div>