// Cart

.cart-items-table {
  display: table;
  margin-top: 40px;
  width: 100%;
}
.cart-items-table-tbody { display: table-row-group; }
.cart-items-table-tr { display: table-row; }
.cart-items-table-td {
  display: table-cell;
  padding: 12px 0;
}
.cart-items-table-tr + .cart-items-table-tr > .cart-items-table-td { border-top: 1px solid #ccc; }
@media (max-width: 768px) {
  .cart-items-table { display: block; }
  .cart-items-table-tbody { display: block; }
  .cart-items-table-tr { display: block; }
  .cart-items-table-td {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .cart-items-table-tr + .cart-items-table-tr {
    margin-top: 6px;
    border-top: 1px solid #ccc;
    padding-top: 6px;
    & > .cart-items-table-td { border-top: 0; }
  }
}

.cart-item-btn {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding: 2px 8px;
  border-radius: 3px;
  background: #f5f5f5;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  transition: background-color 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: #f8dd28;
  }
}

.cart-summary {
  text-align: right;
  font-size: 24px;

  &:before {
    content: '=';
  }

  &.cart-summary--left-yet { text-align: left; }

  & + form { text-align: right; }
}
