/*
 This file contains styles of new design, made by John on June 2018.
 */

$primary-color: #1c5cb8;
$primary-alternate-color: #2168d0;
$secondary-color: #fff204;
$grey-color: #e8e8e8;

/*
  Base elements
 */
hr.nice-hr {
  margin: 1px 0 24px;
  border: 0;
  border-top: 1px solid $grey-color;
}

h3.nice-h3 {
  margin: 0 0 13px;
  font-size: 24px;
  font-weight: normal;
}

/*
  Component button
 */
.buttn {
  display: inline-block;
  padding: 8px 24px;
  background: $primary-color;
  text-decoration: none;
  color: #fff;
  line-height: 20px;
  &:hover {
    background-color: $primary-alternate-color;
    text-decoration: none;
  }
}

/*
  Component: columner
 */
.columner {
  margin: 34px 0;
  border: 1px solid $grey-color;
  padding: 22px;
  display: flex;
  justify-content: space-between;

  .column {
    line-height: 34px;
    & + .column {
      border-left: 1px solid $grey-color;
      padding-left: 40px;
    }
  }

  .column-title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
  }

  &.two-columner {
    .column {
      width: 50%;
      & + .column { width: 49%; }
    }
  }

  @media (max-width: 499px) {
    display: block;
    .column {
      width: 100%;
      & + .column {
        margin-top: 40px;
        border-left: 0;
        padding-left: 0;
      }
    }
    &.two-columner .column { width: 100%; & + .column { width: 100%; } }
  }
}

/*
  Component panel
 */
.panel {
  display: inline-block;
  margin: 0 31px 30px 0;
  min-width: 213px;
  .panel-heading {
    padding: 8px 6px 12px;
    background: $primary-color;
    text-align: center;
    font-size: 22px;
    line-height: 41px;
    color: #fff;
  }
  .panel-body {
    border-right: 1px solid $grey-color;
    border-bottom: 1px solid $grey-color;
    border-left: 1px solid $grey-color;
    padding: 41px 0 38px;
    text-align: center;
  }
  @media (max-width: 499px) {
    display: block;
    width: 100%;
  }
}

/*
  Component order cards
 */
.order-cards {}
.order-card {
  display: inline-block;
  margin: 14px 28px 14px 0;
  border: 1px solid $grey-color;
  min-width: 242px;
  .order-card-items {
    padding: 15px 13px 0;
    text-align: center;
  }
  .order-card-item {
    font-size: 14px;
    .order-card-item-title {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
  .order-card-summary {
    margin-top: 60px;
    border-bottom: 1px solid $grey-color;
    padding: 0 13px 25px;
  }
  .order-card-summary-line {
    display: flex;
    justify-content: space-between;
  }
  .order-card-btn {
    display: block;
    text-align: center;
  }

  @media (max-width: 499px) {
    display: block;
    width: 100%;
  }
}

/*
  Component: order details
 */
.order-details {
  margin: 34px 0;
  border: 1px solid $grey-color;
  padding: 14px;

  .order-details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid $grey-color;
    padding: 1px 20px 15px;
    line-height: 30px;
  }
  .order-details-title { font-size: 28px; }
  .order-details-number { font-size: 22px; }

  .order-detail-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .order-detail-item {
    margin: 21px;
    text-align: center;
    line-height: 38px;
    font-size: 22px;
  }

  @media (max-width: 499px) {
    .order-details-header { display: block; }
  }
}

/*
  Supertest !!! :)
  <% content_for(:after_layout) do %>
    <img src="/content/test/Account_Home_Page.png" style="top: 113px; left: 0px;" class="supertest" />
  <% end %>
 */
.supertest {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
