/*
 This file contains styles of new design, made by John on June 2018.
 */

$primary-color: #1c5cb8;
$primary-alternate-color: #2168d0;
$secondary-color: #fff204;
$grey-color: #e8e8e8;

/*
  Base elements
 */
hr.nice-hr {
  margin: 1px 0 24px;
  border: 0;
  border-top: 1px solid $grey-color;
}

h3.nice-h3 {
  margin: 0 0 13px;
  font-size: 24px;
  font-weight: normal;
}

/*
  Component button
 */
.buttn {
  display: inline-block;
  padding: 8px 24px;
  background: $primary-color;
  text-decoration: none;
  color: #fff;
  line-height: 20px;
  &:hover {
    background-color: $primary-alternate-color;
    text-decoration: none;
  }

  &.buttn-smaller {
    padding: 3px 17px 2px;
    font-size: 16px;
    line-height: 18px;
  }
}

/*
  Component: Panel
 */
 .panel {
   margin: 34px 0;
   border: 1px solid $grey-color;
   padding: 14px;

   .panel-header {
     display: flex;
     justify-content: space-between;
     margin-bottom: 40px;
     border-bottom: 1px solid $grey-color;
     padding: 1px 20px 15px;
     line-height: 30px;
   }
   .panel-header-title { font-size: 28px; }

   .panel-body { margin-top: 20px; }

   @media (max-width: 499px) {
     .panel-header { display: block; }
   }
 }

/*
  Component: Form
 */
.form-line {
  display: flex;
  line-height: 24px;
  font-size: 18px;
  & + .form-line { margin-top: 22px; }

  .form-line-label {
    flex-grow: 0;
    padding-left: 30px;
    width: 220px;

    label.required abbr { display: none; }
  }

  .form-line-input {
    flex-grow: 1;
    padding-right: 30px;
  }

  .form-line-both {
    flex-grow: 1;
    padding-right: 30px;
    padding-left: 30px;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    border: 0;
    border-bottom: 1px solid $grey-color;
  }
}
.submit-line {
  margin-top: 40px;
  text-align: right;

  input[type="submit"] {
    display: inline-block;
    padding: 8px 24px;
    background: $primary-color;
    text-decoration: none;
    color: #fff;
    line-height: 20px;
    &:hover {
      background-color: $primary-alternate-color;
      text-decoration: none;
    }
  }
}

/*
  Component: columner
 */
.columner {
  margin: 34px 0;
  border: 1px solid $grey-color;
  padding: 22px;
  display: flex;
  justify-content: space-between;

  .column {
    line-height: 34px;
    & + .column {
      border-left: 1px solid $grey-color;
      padding-left: 40px;
    }
  }

  .column-title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
  }

  &.two-columner {
    .column {
      width: 50%;
      & + .column { width: 49%; }
    }
  }
  &.three-columner {
    .column {
      width: 33%;
    }
  }

  @media (max-width: 499px) {
    display: block;
    .column {
      width: 100%;
      & + .column {
        margin-top: 40px;
        border-left: 0;
        padding-left: 0;
      }
    }
    &.two-columner .column { width: 100%; & + .column { width: 100%; } }
    &.three-columner .column { width: 100%; }
  }
}

/*
  Component: Card-panel
 */
.card-panel {
  display: inline-block;
  margin: 0 31px 30px 0;
  min-width: 213px;
  .card-panel-heading {
    padding: 8px 6px 12px;
    background: $primary-color;
    text-align: center;
    font-size: 22px;
    line-height: 41px;
    color: #fff;
  }
  .card-panel-body {
    border-right: 1px solid $grey-color;
    border-bottom: 1px solid $grey-color;
    border-left: 1px solid $grey-color;
    padding: 41px 0 38px;
    text-align: center;
  }
  @media (max-width: 499px) {
    display: block;
    width: 100%;
  }
}

/*
  Component order cards
 */
.order-cards {}
.order-card {
  display: inline-block;
  margin: 14px 28px 14px 0;
  border: 1px solid $grey-color;
  min-width: 242px;
  .order-card-items {
    padding: 15px 13px 0;
    text-align: center;
  }
  .order-card-item {
    font-size: 14px;
    .order-card-item-title {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
  .order-card-summary {
    margin-top: 60px;
    border-bottom: 1px solid $grey-color;
    padding: 0 13px 25px;
  }
  .order-card-summary-line {
    display: flex;
    justify-content: space-between;
  }
  .order-card-btn {
    display: block;
    text-align: center;
  }

  @media (max-width: 499px) {
    display: block;
    width: 100%;
  }
}

/*
  Special component: order details panel
 */
.order-details {
  .order-details-number { font-size: 22px; }

  .order-detail-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .order-detail-item {
    margin: 21px;
    text-align: center;
    line-height: 38px;
    font-size: 22px;
  }
}

/*
  Special component: account delete panel
 */
.del-account-panel {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  @media (max-width: 499px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*
  Special component: ticket-info
 */
.panel-ticket-info {
  display: flex;
  justify-content: space-between;

  & > div { padding: 0 20px; }
  // .ticket-info-event {}
  .ticket-info-numbers { border-left: 1px solid $grey-color; text-align: center; }
}

/*
  Special component: ticket-face-value
 */
.ticket-face-value {
  margin: -26px 0 0;
  padding: 0 18px;
  text-align: right;
  color: #b6b6b6;
  font-size: 16px;
}

/*
  Special collection: log in page
 */
.log-in-grid {
  display: flex;
  .log-in-grid-auth-side {
    flex-grow: 1;
    padding-right: 15px;
  }
  .log-in-grid-reg-side {
    flex-grow: 0;
    border-left: 1px solid $grey-color;
    padding: 0 57px;
    width: 354px;
    text-align: center;
  }
  @media (max-width: 699px) {
    display: block;
    .log-in-grid-reg-side {
      margin-top: 42px;
      border-left: 0;
      padding-right: 20px;
      padding-left: 20px;
      width: auto;
    }
  }
}
.log-in-wrapper {
  .log-in-title {
    text-transform: uppercase;
  }
  .log-in-centered-text {  }
  .form-line {
    .form-line-label {
      padding-left: 0;
      width: 112px;
    }
    .form-line-input {
      padding-right: 0px;
    }
  }
  .text-line, .submit-line {
    margin-top: 20px;
    text-align: center;
  }
  .buttn, .submit-line input[type="submit"] {
    border-radius: 0;
    text-transform: uppercase;
  }
}

/*
  Supertest !!! :)
  <% content_for(:after_layout) do %>
    <img src="/content/test/Account_Home_Page.png" style="top: 113px; left: 0px; display: block" class="supertest" />
  <% end %>
 */
.supertest {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.about-us-words {
  margin: 0 auto 28px;
  max-width: 400px;
  @media (min-width: 820px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 95px;
    max-width: 1038px;
  }
}
.about-us-word {
  margin-top: 28px;
  $icon-circ-diameter: 88px;
  max-width: 400px;
  min-height: $icon-circ-diameter;

  &__icon-circ {
    float: left;
    border: 2px solid #33afd4;
    width: $icon-circ-diameter;
    height: $icon-circ-diameter;
    border-radius: $icon-circ-diameter;
    text-align: center;
    line-height: $icon-circ-diameter - 4px;
    & > img { max-width: 70%; max-height: 70%; vertical-align: middle; }
  }
  &__title, &__text {
    margin: 0 0 0 102px;
  }
  &__title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
  }
  &__text {
    font-size: 18px;
  }

  @media (min-width: 820px) {
    $icon-circ-diameter: 132px;
    margin-top: 120px;

    &__icon-circ {
      width: $icon-circ-diameter;
      height: $icon-circ-diameter;
      border-radius: $icon-circ-diameter;
      line-height: $icon-circ-diameter - 4px;
    }
    &__title, &__text {
      margin-left: 162px;
    }
    &__title {
      margin-bottom: 13px;
      font-size: 34px;
    }
  }
}

.about-us-subtitle {
  margin: 80px 0;
  font-size: 42px;
  line-height: 133px;
  background: #f5f5f5;
  text-align: center;
}

.testimonka {
  display: block;
  margin: 0;

  & > p {
    margin: 16px;
    border: 4px solid #f5f5f5;
    padding: 25px 39px 36px 48px;
    border-radius: 9px;
    box-shadow: 0 0 16px #bababa;
    text-align: center;
    font-size: 20px;
    line-height: 29px;
    &:before {
      content: '';
      display: block;
      margin-bottom: 34px;
      margin-left: -30px;
      height: 46px;
      background: image-url('about/quotes_up.png') no-repeat left top;
    }
    &:after {
      content: '';
      display: block;
      margin-top: 15px;
      margin-right: -15px;
      height: 46px;
      background: image-url('about/quotes_down.png') no-repeat right top;
    }
  }

  & > footer {
    position: relative;
    margin: 30px 10px 0;
    text-align: right;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -34px;
      right: 172px;
      width: 48px;
      height: 23px;
      background: image-url('about/bubble_tail.png') no-repeat left top;
    }
  }
}

// Override owl carousel theme
.owl-spec-nav {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;

  [class*='owl-spec'] {
    display: block;
    position: absolute;
    top: 200px;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0;
    width: 25px;
    height: 80px;
    line-height: 80px;
    color: #9a9a9a;
    font-size: 64px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #454545;
      text-decoration: none;
    }
  }
  .disabled {
    opacity: 0.5;
    cursor: default;
    color: #b2b2b2;
    &:hover {
      color: #b2b2b2;
    }
  }

  .owl-spec-prev {
    left: -12px;
  }
  .owl-spec-next {
    right: -12px;
    text-align: right;
  }
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #000; }

#tab{
  .tabs{
    .tab-item{
      float: left;
      margin-right: 20px;
      cursor: pointer;
      font-size: 22px;
      color: #83b9d0;
      &:hover{
        color: #0c7aa6;
      }
      &.tab-active{
        border-bottom: solid 2px gray;
        color: #0c7aa6;
      }
    }
  }
}
