.fineprint {
  font-size: 0.7em;
  color: #545454;
  font-weight: bold;
}

.no-pad {
  padding-left: 0;
}

.ticket-text {
  font-size: 0.9em;
  color: #545454;
}

.event-name {
  font-size: 1.6em;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  .event-name {
    font-size: 0.2em;
  }
}

.paypal {
  background-color: #44AD6A !important;
}

#ticket-quantity-select {
  width: 60px;
}
