<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <div class="breadcrumbs">
        <%= link_to 'Home', root_path, :class => 'breadcrumbs__item' %>
        <span class="breadcrumbs__item">Categories</span>
      </div>
      <h1>Categories</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render 'shared/categories_list' %>
</div>
