<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Categories</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render 'shared/categories_list' %>
</div>
