<h3>Info Blocks</h3>
<% info_blocks.each do |info_block| %>
<p style="word-wrap: break-word;">
  <strong>Title:</strong>
  <%= info_block.title %>
  <br/>
  <strong>Text:</strong>
  <%= info_block.text %>
</p>
<% end %>
