<div style="text-align: center;"><strong><span style="font-size:18px;">Hello <%= @resource.display_name %></span></strong></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">Someone has requested a link to change your password. You can do this through the link below.</span></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></span></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">If you didn't request this, please ignore this email.</span></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">Your password won't change until you access the link above and create a new one.</span></span></div>
